{% extends "basic_dashboard.html" %}
{% block content %}
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
      </nav>
      <!-- End of Topbar -->
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="/dashboard/user" method="post" id='user_edit' onsubmit="editUser(this); return false;">
                                Имя: <input type="text" name="name" id="user_name" value=""><br>
                                email: <input type="text" name="email" id="user_email" value=""><br>
                                <select name="office" id="offices">
                                    {% for office in offices %}
                                        <option value="{{office.id}}">{{office.name}}</option>
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="user_id" value="" id="user_id">
                                <input type="submit" value="Создать">
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>

        <form action="/dashboard/users" method="post">
            Имя: <input type="text" name="name">
            Офис:
            <select name="office_id">
                <option value="0">Любой</option>
                {% for office in offices %}
                    <option value="{{office.id}}" {% if filters.office_id == office.id|string %} selected{%endif%}>
                        {{office.name}}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Фильтровать">
        </form>
      <!-- Begin Page Content -->
      <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
              </div>
              <div class="card-body">
                  <div class="">
                      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                          <div class="row"><div class="col-sm-12">
                          <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                          <thead>
                              <tr role="row">
                                  <th>Name</th>
                                  <th>Position</th>
                                  <th>Office</th>
                                  <th>Age</th>
                                  <th>Start date</th>
                                  <th>Salary</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr><th rowspan="1" colspan="1">Name</th><th rowspan="1" colspan="1">email</th><th rowspan="1" colspan="1">Office</th><th rowspan="1" colspan="1">Age</th><th rowspan="1" colspan="1">Start date</th><th rowspan="1" colspan="1">Salary</th></tr>
                          </tfoot>
                          <tbody>
                                {% for user in users %}
                                      <tr class="even">
                                          <td class="sorting_1">{{user.name}}</td>
                                          <td>{{user.email}}</td>
                                          <td>{{user.office.name}}</td>
                                          <td>Отдел</td>
                                          <td>тут что-то</td>
                                          <td><button onclick="editUserForm({{user.id}})">Изменить</button></td>
                                      </tr>
                                {% endfor %}
                          </tbody>
                      </table></div></div>
                          </div>
                  </div>
              </div>
          </div>

      </div>
      <!-- /.container-fluid -->

  </div>
<script>
    function editUserForm(uid){
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/x-www-form-urlencoded");
                var urlencoded = new URLSearchParams();
                var requestOptions = {
                  method: 'POST',
                  headers: myHeaders,
                  body: urlencoded,
                  redirect: 'follow'
                };
                fetch("/user/"+uid, requestOptions)
                  .then((response) => { return response.json()})
                  .then((result) => {
                        console.log(result);
                        $('#user_id').val(result?.id)
                        $('#user_name').val(result?.name)
                        $('#user_email').val(result?.email)
                        if (result?.office){
                            document.querySelector('#offices').value=result.office
                        }
                        $('#exampleModal').modal('show');
                  })
                  .catch(error => function(){
                        console.log('neok');
                  });
       }
       function editUser(form){
            console.log('test');
            var myHeaders = new Headers();
                //myHeaders.append("Content-Type", "multipart/form-data");
                var requestOptions = {
                  method: 'POST',
                  headers: myHeaders,
                  body: new FormData(form),
                  redirect: 'follow'
                };
                fetch("/dashboard/user", requestOptions)
                  .then((response) => { return response.json()})
                  .then((result) => {
                        console.log(result);
                  })
                  .catch(error => function(){
                        console.log('neok');
                  });
       }
</script>
{% endblock %}
